<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testmacapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AC2D2BD1F67EC2100F85755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC2D2D31F67EC2100F85755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC2D2DE1F67EC2100F85755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
